body{
  text-align: center;
  background: linear-gradient( -90deg, rgb(14, 148, 20),rgb(106, 214, 169));
}
.productContainer{
  display: flex;
  flex-wrap: wrap;
}
.productContainer > .link {
  text-align: center;
  width: 300px;
  box-shadow: 0 0 10px grey ;
  margin: 10px;
}
.productContainer > .link :hover{
  background-color: grey;
}
